<html lang="en">
<head>
new departure page
</head>
<body class="container">
<h2>Write a new time for departure</h2>
    <form method="post" role="form">
        <div class="form-group">
            <label for="userID">userID</label>
            <input type="text" class="form-control" id="userID" name="userID" placeholder="userID: " required>
        </div>
        <div class="form-group">
            <label for="structureID">structureID</label>
            <input type="text" class="form-control" id="structureID" name="structureID" placeholder="structureID" required>
        </div>
        <div class="form-group">
            <label for="departureTime">departureTime</label>
            <input type="text" class="form-control" id="departureTime" name="departureTime" placeholder="departureTime" required>
        </div>
        <div class="form-group">
            <label for="arrivalTime">arrivalTime</label>
            <input type="text" class="form-control" id="arrivalTime" name="arrivalTime" placeholder="arrivalTime" required>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Post entry" class="btn btn-primary">
        </div>
    </form>
</body>
</html>