<html lang="en">
<head>
new parking page
</head>
<body class="container">
<h2>Write a new entry</h2>
    <form method="post" role="form">
        <div class="form-group">
            <label for="parkingID">parkingID</label>
            <input type="text" class="form-control" id="parkingID" name="parkingID" placeholder="parkingID: " required>
        </div>
        <div class="form-group">
            <label for="structureID">structureID</label>
            <input type="text" class="form-control" id="structureID" name="structureID" placeholder="structureID" required>
        </div>
        <div class="form-group">
            <label for="floor">floor</label>
            <input type="text" class="form-control" id="floor" name="floor" placeholder="floor number" required>
        </div>
        <div class="form-group">
            <label for="isParked">isParked</label>
            <input type="text" class="form-control" id="isParked" name="isParked" placeholder="isParked" required>
        </div>
                <div class="form-group">
            <label for="isDisabled">isDisabled</label>
            <input type="text" class="form-control" id="isDisabled" name="isDisabled" placeholder="isDisabled" required>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Post entry" class="btn btn-primary">
        </div>
    </form>
</body>
</html>