<html lang="en">
<head>
new user vehicle page
</head>
<body class="container">
<h2>create a new vehicle for user</h2>
    <form method="post" role="form">
        <div class="form-group">
            <label for="userID">userID</label>
            <input type="text" class="form-control" id="userID" name="userID" placeholder="userID: " required>
        </div>
        <div class="form-group">
            <label for="registrationPlate">registrationPlate</label>
            <input type="text" class="form-control" id="registrationPlate" name="registrationPlate" placeholder="registrationPlate" required>
        </div>      
        <div class="form-group">
            <input type="submit" value="Post entry" class="btn btn-primary">
        </div>
    </form>
</body>
</html>