<html lang="en">
<head>
new vehicle page
</head>
<body class="container">
<h2>create a new vehicle for parking</h2>
    <form method="post" role="form">
        <div class="form-group">
            <label for="registrationPlate">registrationPlate</label>
            <input type="text" class="form-control" id="registrationPlate" name="registrationPlate" placeholder="registrationPlate: " required>
        </div>
        <div class="form-group">
            <label for="make">make</label>
            <input type="text" class="form-control" id="make" name="make" placeholder="make" required>
        </div>
        <div class="form-group">
            <label for="model">model</label>
            <input type="text" class="form-control" id="model" name="model" placeholder="model" required>
        </div>
        <div class="form-group">
            <label for="isElectric">isElectric</label>
            <input type="text" class="form-control" id="isElectric" name="isElectric" placeholder="isElectric" required>
        </div>
                <div class="form-group">
            <label for="isParked">isParked</label>
            <input type="text" class="form-control" id="isParked" name="isParked" placeholder="isParked" required>
        </div>
             <div class="form-group">
            <label for="parkingSpaceId">parkingSpaceId</label>
            <input type="text" class="form-control" id="parkingSpaceId" name="parkingSpaceId" placeholder="parkingSpaceId" required>
        </div>

        
        <div class="form-group">
            <input type="submit" value="Post entry" class="btn btn-primary">
        </div>
    </form>
</body>
</html>