<html lang="en">
<head>
update user
</head>
<body class="container">
<h2>update the entry</h2>
    <form method="post" role="form">
        <div class="form-group">
            <label for="userID">userID</label>
            <input type="text" class="form-control" id="userID" name="userID" placeholder="userID: " required>
        </div>
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
        </div>
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
        </div>
        <div class="form-group">
            <label for="address">address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="address" required>
        </div>
                <div class="form-group">
            <label for="phoneNumber">phoneNumber</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="phoneNumber" required>
        </div>
                <div class="form-group">
            <label for="email">email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="email" required>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="password" required>
        </div>
                <div class="form-group">
            <label for="role">role</label>
            <input type="text" class="form-control" id="role" name="role" placeholder="role" required>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Post entry" class="btn btn-primary">
        </div>
    </form>
</body>
</html>