<html lang="en">
<head>
update structure page
</head>
<body class="container">
<h2>update this structure</h2>
    <form method="post" role="form">
        <div class="form-group">
            <label for="structureID">structureID</label>
            <input type="text" class="form-control" id="structureID" name="structureID" placeholder="structureID: " required>
        </div>
        <div class="form-group">
            <label for="address">address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Enter a address" required>
        </div>
        <div class="form-group">
            <label for="parkingSpaces">parkingSpaces</label>
            <input type="text" class="form-control" id="parkingSpaces" name="parkingSpaces" placeholder="Enter parking spaces" required>
        </div>
        <div class="form-group">
            <label for="costPerHour">costPerHour</label>
            <input type="text" class="form-control" id="costPerHour" name="costPerHour" placeholder="Enter the cost per hour" required>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Post entry" class="btn btn-primary">
        </div>
    </form>
</body>
</html>